@tailwind base;
@tailwind components;
@tailwind utilities;

.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
#root {
  min-block-size: 100svb;
}
.header {
  @apply px-4 py-2 sticky top-0 z-50 backdrop-blur-sm;
  background-color: rgb(255 255 255 / 0.8);
}
.item {
  position: relative;
}
.item:not(:first-child)::before {
  content: "/";
}
.content {
  @apply px-4;
}
.footer {
  @apply mt-10 p-4 text-center sticky;
  inset-block-start: 100%;
}
